[Unit]
Description=Bank of Asgard Transactions API (FastAPI)
Documentation=https://github.com/fcto-demos/bank-of-asgard
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=boa
Group=boa
WorkingDirectory=/home/boa/bank-of-asgard/transactions-api

ExecStart=/bin/bash -lc 'uvicorn app.main:app --host 0.0.0.0 --port 8010'

Restart=on-failure
RestartSec=5


StandardOutput=journal
StandardError=journal
SyslogIdentifier=bank-of-asgard-api

# Security settings
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/home/boa/bank-of-asgard

[Install]
WantedBy=default.target
