# The port number that the server will listen to.
# Change this to the desired port number that the server should listen to.
PORT=3002

# The client ID for the Asgardeo Traditional Web Application (TWA) app
SERVER_APP_CLIENT_ID="<add-asgardeo-twa-app-client-id-here>"

# The client ID for the Asgardeo Traditional Web Application (TWA) app
SERVER_APP_CLIENT_SECRET="<add-asgardeo-twa-app-client-secret-here>"

# The base URL for the identity provider's API
# For Asgardeo, use the org name: https://api.asgardeo.io/t/your-org
IDP_BASE_URL="<add-idp-base-url-here>"

# The base URL for the client application
# E.g., http://localhost:5173
VITE_REACT_APP_CLIENT_BASE_URL="http://localhost:5173"

# GEO API Key - This is mandatory for the login flow.
# https://app.ipgeolocation.io/signup
GEO_API_KEY=""

# Name of the user store to create the users. Default is "PRIMARY".
# For Asgardeo, use "DEFAULT".
USER_STORE_NAME="PRIMARY"

# Name of the IS role assigned to new users on signup to grant access to transactions.
# Default is "Read_Transactions". Override if your role has a different name.
# TRANSACTIONS_ROLE_NAME="Read_Transactions"